#preloader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.loader {
  height: 50vh;
  margin: 5vh auto;
  position: relative;
  align-self: center;
}

.preloader {
  background-color: transparent !important;
}
.preloader {
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  opacity: 0.8;
}

.preloader-container {
  position: absolute;
  top: calc(50% - 3.25em);
  text-align: center;
  width: 100%;
}
.preloader-text {
  color: #fff;
  font-family: "Times New Roman" !important;
  width: 50%;
  top: calc(50% - 5.5em);
  left: 25%;
  font-size: 18px;
}

.preloader-text,
.preloader-percent {
  position: absolute;
  text-align: center;
  z-index: 1;
}
.preloader-animation {
  display: inline-block;
  height: 6.5em;
  width: 6.5em;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #558b2f;
  border-right-color: #558b2f;
  border-bottom-color: #558b2f;
  border-left-color: #c5c9c3;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
